{{#partial "content"}}


    {{#if editSquad}}
        <h1>Edit this models.Squad!</h1>
        <form action="/posts/{{editSquad.id}}/update" method="post">
            <label for="content">Edit this Squad's content</label>
            <input id="content" name="content" type="text" value="{{editSquad.squadName}}">
            <input id="content" name="content" type="text" value="{{editSquad.squadCause}}">
            <input id="content" name="content" type="text" value="{{editSquad.squadSize}}">
    {{else}}
        <div class="container">
            <h2 class="text-center"><strong>Create a models.Squad</strong></h2>

        <form action="/squads/new" method="post">
            <div class="form-group">
                <label class="active " for="squadName">Squad Name</label>
                <input id="squadName" name="squadName" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="active" for="maxSize">Squad Size</label>
                <input id="maxSize" name="maxSize" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="active" for="squadCause">Squad Cause</label>
                <input id="squadCause" name="squadCause" type="text" class="form-control">
            </div>
        <div class="container" #listofheroes>
            <h3><strong>Select The Team Leader( Only Select one).</strong></h3>
            <p><a href='/profiles' >Click here to review the Heroes' Profile Before Selection.</a></p>
            <div class= "row">
                <div class="col-md-4">
                    <input type="radio" id="1" name="members" values="Okoye">
                    <label for="member1"> Okoye</label><br>
                    <input type="radio" id="2" name="members" value="Lupita">
                    <label for="member2"> Lupita</label><br>
                    <input type="radio" id="3" name="members" value="T'Challa">
                    <label for="member3"> T'Challa</label><br>


                </div>
                <div class="col-md-4">
                    <input type="radio" id="4" name="members" value="Killmonger">
                    <label for="member4"> Killmonger</label><br>
                    <input type="radio" id="5" name="members" value="Minion">
                    <label for="member5"> Minion</label><br>
                    <input type="radio" id="6" name="members" value="Nairobi">
                    <label for="member6"> Nairobi</label><br>
                    <input type="radio" id="7" name="members" value="Storm">
                    <label for="member7"> Storm</label><br>



                </div>
                <div class="col-md-4">
                    <input type="radio" id="8" name="members" value="Shuri">
                    <label for="member8"> Shuri</label><br>
                    <input type="radio" id="9" name="members" value="The Couple">
                    <label for="member9"> The Couple</label><br>
                    <input type="radio" id="10" name="members" value="Mbaku">
                    <label for="member10"> Mbaku</label><br>
                </div>
            </div>
        </div>

    {{/if}}

            <button type="submit" class=" btn btn-success" >Create Squad!</button>
        </form>
    </div>
    <!--

{{/partial}}

{{> layout.hbs}}